@import "./variables";

$colors: (
  text: $text,
  bg: $background,
  primary: $primary,
  secondary: $secondary,
  accent: $accent
);

$colors-dark: (
  text: $dm-text,
  bg: $dm-background,
  primary: $dm-primary,
  secondary: $dm-secondary,
  accent: $dm-accent
);

:root {
  @each $name, $color in $colors {
    --#{$name}: #{$color};
  }
  color-scheme: light dark;
}
@media (prefers-color-scheme: dark) {
  :root {
    @each $name, $color in $colors-dark {
      --#{$name}: #{$color};
    }
  }
}

@function getColor($color-name) {
  @return var(--#{$color-name});
}
