$text: #0a030d;
$background: #faf2fc;
$primary: #a0e689;
$secondary: #f7e9fb;
$accent: #2b6a16;

$dm-text: #faf2fc;
$dm-background: #0a030d;
$dm-primary: #a0e689;
$dm-secondary: #350c40;
$dm-accent: #67d841;
