@import "./variables";
@import "./functions";
@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  font-family: 'Inter', sans-serif;
}

::selection {
  background: getColor(primary);
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: getColor(primary);
  border-radius: 1em;
  border: 1px solid getColor(bg);
}

::-webkit-scrollbar-track {
  background: getColor(secondary);
}
