@import "./variables";
@import "./functions";

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: Inter, sans-serif;
}

::selection {
  background: getcolor(primary);
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: getcolor(primary);
  border: 1px solid getcolor(bg);
  border-radius: 1em;
}

::-webkit-scrollbar-track {
  background: getcolor(secondary);
}
